.avatar-menu {
  width: 12rem;
}
.avatar-menu {
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  right: 0rem;
  z-index: 3;
  display: none;
  border-radius: var(--radius);
  transition: var(--transition);
}

.avatar-menu.show {
  display: block;
}

@media only screen and (max-width: 576px) {
  .avatar-menu {
    width: 100% !important;
  }
}
